# With some help from: https://gist.github.com/dgerosa/2e1f47a39180f39bde848e38243efa94

name: build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # Edit here with the names of your latex file and directory (can use ".")
      DIR: .
      FILE: Neeraj_Butola_Resume
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3
      - name: Build PDF
        uses: dante-ev/latex-action@latest
        with:
          root_file: ${{ env.FILE }}
          working_directory: ${{ env.DIR }}
      - name: Install LaTeX packages
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-base texlive-latex-recommended texlive-fonts-recommended texlive-latex-extra texlive-fonts-extra dvipng texlive-latex-recommended texlive-lang-english texlive-lang-german texlive-luatex texlive-xetex texlive-bibtex-extra biber latex-xcolor lmodern
      - name: Install TeX4ht
        run: |
          sudo apt-get update
          sudo apt-get install -y tex4ht
      - name: Change ownership
        run: sudo chown -R $(whoami) ${{ env.DIR }}
      - name: Change permissions
        run: chmod 777 -R ${{ env.DIR }}
      - name: Convert LaTeX to HTML
        run: |
          htlatex "${{ env.DIR }}/${{ env.FILE }}.tex"
          mkdir -p website
          mv "${{ env.DIR }}/${{ env.FILE }}.html" website/index.html

      - name: move
        run: mkdir -p github_artifacts && mv ${{ env.DIR }}/${{ env.FILE }}.pdf ./github_artifacts/
      - name: Upload pdf as artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.FILE }}.pdf
          path: ./github_artifacts
      - name: Commit and push HTML
        uses: EndBug/add-and-commit@v9
        with:
          add: "website/"
          message: "Update website with HTML from LaTeX (via htlatex)"
          default_author: github_actions
          github_token: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          path: github_artifacts
      - name: move
        run: mkdir -p github_deploy && mv github_artifacts/*/* github_deploy
      - name: deploy on orphan branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./github_deploy
          publish_branch: build
          force_orphan: true
          enable_jekyll: true
